<mat-sidenav-container class="sidenav-container" id="sidenavContainer">
  <mat-sidenav class="sidenav-content" mode="side" opened="true">
    <div class="sidenav-header flex-center-vertical">
      <div class="logo flex-center-vertical">
        <img src="./assets/chrono.png" class="logo-icon">
        <span class="logo-text">CRONUS</span>
      </div>
      <button *ngIf="!isOpen; else closed" (click)="onCloseMenu()" mat-mini-fab class="transparent-bg" id="menuToggle">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <ng-template #closed>
        <button (click)="onOpenMenu()" mat-mini-fab class="transparent-bg" id="menuOpen">
          <mat-icon>dehaze</mat-icon>
        </button>
      </ng-template>
    </div>
    <div class="sidenav-items-wrapper">
      <div class="group-title">
        <span class="hint-text">Applications</span>
      </div>
      <div class="group-items">
        <a class="nav-link flex-center-vertical">
          <mat-icon class="nav-icon">dashboard</mat-icon>
          <span class="nav-link-title">Dashboard</span>
        </a>
        <a class="nav-link flex-center-vertical">
          <mat-icon class="nav-icon">today</mat-icon>
          <span class="nav-link-title">Calendar</span>
        </a>
        <a class="nav-link flex-center-vertical">
          <mat-icon class="nav-icon">email</mat-icon>
          <span class="nav-link-title">Mail</span>
        </a>
        <a class="nav-link flex-center-vertical">
          <mat-icon class="nav-icon">folder</mat-icon>
          <span class="nav-link-title">File Manager</span>
        </a>
        <a class="nav-link flex-center-vertical">
          <mat-icon class="nav-icon">account_box</mat-icon>
          <span class="nav-link-title">Contacts</span>
        </a>
        <a class="nav-link flex-center-vertical">
          <mat-icon class="nav-icon">check_box</mat-icon>
          <span class="nav-link-title">To-Do</span>
        </a>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>