<app-sidenav></app-sidenav>
<div class="main-app-component slide-in-from-bottom">
  <div class="hero-wrapper flex-container">
    <div class="page-title-col flex-center-vertical">
      <p class="page-title flex-container">
        <mat-icon class="page-icon">check_box</mat-icon>
        <span>To-do</span>
      </p>
      <button mat-raised-button (click)="openAddTaskForm()" color="primary" class="add-task-btn">Add Task</button>
    </div>
    <div class="search-wrapper-col flex-container">
      <div class="search flex-center-vertical">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text">
      </div>
      <div class="toolbar-wrapper">
        <mat-toolbar class="todo-toolbar">
          <mat-checkbox *ngIf="!addTaskState; else backToList"></mat-checkbox>
        </mat-toolbar>
        <ng-template #backToList>
          <button class="back-to-list-btn" mat-icon-button (click)="closeAddTaskForm()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="!todoList; else doneFetchingTodos">
    <div class="loading-todos flex-center-vertical-horizontal">
      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
  <ng-template #doneFetchingTodos>
    <div class="todo-section flex-container">
      <div class="todo-filters">

      </div>
      <div class="todo-list slide-in-from-bottom" *ngIf="!addTaskState; else addTask">
        <div *ngIf="todoList?.length > 0; else noToDos">
          <ul *ngFor="let todo of todoList">
            <li>{{todo.title}}</li>
          </ul>
        </div>
        <ng-template #noTodos>
          <p>No todo</p>
        </ng-template>
      </div>
      <ng-template #addTask>
        <div class="todo-add slide-in-from-bottom">
          <form #addTaskForm="ngForm">
            <div class="add-todo-form">
              <mat-toolbar class="addtodo-toolbar">
                <div class="add-left-ctrl">
                  <mat-checkbox [(ngModel)]="addTodo.done" name="addTodo.done">
                    <span>Mark as done</span>
                  </mat-checkbox>
                </div>
                <div class="add-right-ctrl">
                  <button mat-icon-button matTooltip="Set priority" (click)="togglePrio()" *ngIf="!prio; else priority">
                    <mat-icon>error_outline</mat-icon>
                  </button>
                  <ng-template #priority>
                    <button mat-icon-button matTooltip="Remove priority" (click)="togglePrio()">
                      <mat-icon>error</mat-icon>
                    </button>
                  </ng-template>
                  <button mat-icon-button matTooltip="Add star" (click)="toggleStar()" *ngIf="!star; else starred">
                    <mat-icon>star_border</mat-icon>
                  </button>
                  <ng-template #starred>
                    <button mat-icon-button matTooltip="Remove star" (click)="toggleStar()">
                      <mat-icon>star</mat-icon>
                    </button>
                  </ng-template>
                </div>
              </mat-toolbar>
              <div class="input-fields-wrapper">
                <mat-form-field class="full-width form-field">
                  <input matInput placeholder="Title" [(ngModel)]="addTodo.title" [formControl]="titleFormControl" name="addTodo.title">
                  <mat-error *ngIf="titleFormControl.hasError('required')">
                    Title is required
                  </mat-error>
                </mat-form-field>

                <div class="add-todo-date-wrapper full-width flex-container">
                  <mat-form-field class="form-field start-date">
                    <input matInput [(ngModel)]="addTodo.start" [matDatepicker]="startTask" [min]="minDate" [max]="maxDate" [formControl]="startDateFormControl"
                      placeholder="Start date" name="addTodo.start">
                    <mat-datepicker-toggle matSuffix [for]="startTask"></mat-datepicker-toggle>
                    <mat-datepicker #startTask></mat-datepicker>
                    <mat-error *ngIf="startDateFormControl.hasError('required')">
                      Please enter valid date
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="form-field due-date">
                    <input matInput [(ngModel)]="addTodo.due" [matDatepicker]="dueTask" [min]="minDate" [max]="maxDate" [formControl]="dueDateFormControl"
                      placeholder="Due date" name="addTodo.due">
                    <mat-datepicker-toggle matSuffix [for]="dueTask"></mat-datepicker-toggle>
                    <mat-datepicker #dueTask></mat-datepicker>
                    <mat-error *ngIf="dueDateFormControl.hasError('required')">
                      Please enter valid date
                    </mat-error>
                  </mat-form-field>
                </div>

                <mat-form-field class="full-width form-field">
                  <textarea matInput [(ngModel)]="addTodo.notes" placeholder="Notes" [formControl]="notesFormControl" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="6" name="addTodo.notes"></textarea>
                  <mat-error *ngIf="notesFormControl.hasError('required')">
                    Notes is required
                  </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="submitAdd()" [disabled]="titleFormControl.hasError('required') || startDateFormControl.hasError('required') || dueDateFormControl.hasError('required') || notesFormControl.hasError('required')"
                  type="submit">SAVE</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>

    </div>
  </ng-template>
</div>