p {
  color: #000000de;
}

.login-page-wrapper {
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../../../assets/mat-dark-bg.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-wrapper {
  background: #fff;
  margin: 0 auto;
  width: 50%;
  padding: 85px 15px;
}

.app-logo {
  display: block;
  margin: 0 auto 32px;
  max-width: 100%;
}

.app-title {
  font-size: 20px;
  margin: 16px 0 32px 0;
}
.app-title span {
  color: #9c27b0;
}

.login-wrapper {
  position: relative;
}

.btn-google {
  display: block;
  margin: 0 auto;
  position: relative;
}
.btn-google::before,
.btn-google::after {
  background: rgba(0, 0, 0, 0.12);
  content: '';
  height: 2px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.btn-google::before {
  left: -30px;
}
.btn-google::after {
  right: -30px;
}
