/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
}

body.menu-collapsed .main-app-component,
body.menu-collapsed .toolbar-wrapper {
  margin-left: 64px;
}

.main-app-component {
  margin-left: 256px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-center-vertical {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center-vertical-horizontal {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bg-transparent {
  background: transparent !important;
}

.bg-white {
  background-color: #fff !important;
}

.mat-elevation {
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.loading-overlay {
  background: rgb(51, 51, 51);
  bottom: 0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.loading-overlay img {
  animation: rotation 2s infinite linear;
  margin-bottom: 25px;
}

.body-overlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.body-overlay.show-overlay {
  display: block;
}

.hero-wrapper {
  background-image: url(./assets/deep-purple.jpg);
  background-size: cover;
  height: 200px;
  max-height: 200px;
  padding: 24px 24px 0;
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.page-title-col {
  color: #ffffff;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 24px;
  width: 20%;
}

.page-title {
  margin: 0;
  width: 100%;
}

.page-title .page-icon {
  font-size: 27px;
  height: 27px;
  margin-right: 10px;
  width: 27px;
}

.page-title span {
  color: #ffffff;
  font-size: 24px;
}
/* animations */
.slide-in-from-bottom {
  animation: slide-in-from-bottom 0.4s ease-in-out;
}

@keyframes slide-in-from-bottom {
  0% {
    opacity: 0.3;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
